.tagIconContainer{
    display: flex;
    flex-direction: column;
    column-gap: 2%;
    box-shadow: 0.5px 0.5px 0.5px 0.5px lightsteelblue;
    padding:10px;
    padding-right: 70px;
    border-radius: 10px;
}


.iconContainer{
    background-color: lavender;
    border-radius:5px;
    height: fit-content;
    width: fit-content;
    padding:10px 9px 10px 9px;
}